*{  
           margin: 0px;  
           padding: 0px;  
       }  
       video{  
           position: fixed;  
           right: 0px;  
           bottom: 0px;  
           min-width: 100%;  
           min-height: 100%;  
           height: auto;  
           width: auto;  
           /*加滤镜*/
           /*filter: blur(15px); //背景模糊设置 */
           /*-webkit-filter: grayscale(100%);*/ 
           /*filter:grayscale(100%); //背景灰度设置*/ 
           z-index:-11
       }  
       source{  
           min-width: 100%;  
           min-height: 100%;  
           height: auto;  
           width: auto;  
       }
/* From uiverse.io by @AqFox */
.spinner {
 width: 44px;
 height: 44px;
 animation: spinner-y0fdc1 2s infinite ease;
 transform-style: preserve-3d;
}

.spinner > div {
 background-color: rgba(0,77,255,0.2);
 height: 100%;
 position: absolute;
 width: 100%;
 border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
 transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
 transform: rotateY(-270deg) translateX(50%);
 transform-origin: top right;
}

.spinner div:nth-of-type(3) {
 transform: rotateY(270deg) translateX(-50%);
 transform-origin: center left;
}

.spinner div:nth-of-type(4) {
 transform: rotateX(90deg) translateY(-50%);
 transform-origin: top center;
}

.spinner div:nth-of-type(5) {
 transform: rotateX(-90deg) translateY(50%);
 transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
 transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
 0% {
  transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
 }

 50% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
 }

 100% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
 }
}
body {
    background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2)), url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#box {
    /* background-color: red; */
    width: 20rem;
    height: 100px;
    margin: 0 auto;
    padding-top: 5%;
}

.meBox {
    width: 20rem;
    height: 25rem;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 130px;
    border-radius: 2%;
    transition: all 0.3s;
    text-align: center;
}

.meBox:hover {
    width: 21rem;
    height: 26rem;
    margin: 95px 0 130px -5px;
}

.headPhoto {
    width: 8rem;
    height: 8rem;
    background: url(https://q1.qlogo.cn/g?b=qq&nk=247015815&s=640) no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: -15%;
    left: 50%;
    margin-left: -4rem;
    transition: all 0.3s;
}

.meBox:hover .headPhoto {
    width: 9rem;
    height: 9rem;
    margin: -0.5rem 0 0 -4.5rem;
    transform: rotate(360deg);
}

.headPhoto:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.meBox-title {
    width: auto;
    margin: 0 auto;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.meBox-title p {
    font-size: 1.2rem;
    border-right: .1em solid;
    width: 12ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20, end), blink-caret .3s step-end infinite alternate;
    margin: -30px 0 0 90px;
    transition: all 0.3s;
}

.meBox:hover .meBox-title p {
    font-size: 1.3rem;
}

.meBox-title .fg {
    width: 80%;
    height: 2px;
    background-image: linear-gradient(to left, #3498db, #2980b9);
    margin: 5% 0 0 10%;
}

.meBox-text {
    width: 80%;
    height: 45%;
    overflow: hidden;
    text-align: center;
    color: rgb(70, 70, 70);
    animation-name: meBox-text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 5% 0 0 10%;
    transition: all 0.3s;
}

.meBox-text p {
    margin-top: 5px;
}

.meBox:hover .meBox-text {
    font-size: 1.05rem;
}

@keyframes meBox-text {
    0% {
        transform: translateY(50px);
        color: white;
    }

    100% {
        transform: translateY(0);
        color: rgb(70, 70, 70);
    }
}

.meBox-Button {
    width: 100%;
}

.meBox-Button a {
    display: inline-block;
    float: left;
    width: 158px;
    height: 50px;
    margin-top: 13px;
    line-height: 50px;
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}

.meBox-Button a:hover {
    color: rgb(0, 132, 255);
    font-size: 1.2rem;
}

.meBox:hover .meBox-Button a {
    width: 165px;
    margin-top: 10px;
}

#cmdBox {
    width: 350px;
    height: 950px;
    /* background-color: green; */
}

#cmdBox {
    clear: both;
    margin: 0 auto;
}

.cmd {
    width: 330px;
    height: 400px;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s;
    font-size: 14px;
    color: rgb(88, 89, 92);
    position: relative;
    top: 0;
    left: 0;
}

.cmd:hover {
    width: 330px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: -1px 0 0 -1px;
    z-index: 1;
}

.cmd .title {
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to top, rgb(184, 184, 184), white);
    font-size: 14px;
    line-height: 25px;
}

.cmd .title span {
    display: inline-block;
    width: 70%;
    text-align: center;
    /* background-color: red; */
}

.cmd .click {
    margin-left: 10px;
    float: left;
}

.cmd .click div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px 0 0 10px;
    float: left;
}

.cmd .click .red {
    background-color: #ff1b22;
    box-shadow: 0 0 1px #ff1b22;
}

.cmd .click .red:hover {
    background-color: #ff6268;
    box-shadow: 0 0 3px #ff1b22;
}

.cmd .click .yellow {
    background-color: #ffaf00;
    box-shadow: 0 0 1px #ffaf00;
}

.cmd .click .yellow:hover {
    background-color: #ffd373;
    box-shadow: 0 0 3px #ffaf00;
}

.cmd .click .green {
    background-color: #00931a;
    box-shadow: 0 0 1px #00931a;
}

.cmd .click .green:hover {
    background-color: rgb(0, 196, 36);
    box-shadow: 0 0 3px #00931a;
}

.cmdText {
    padding-top: 10px;
    padding-left: 15px;
}

.cmd2 {
    margin-top: 20px;
}

.cmd2:hover {
    width: 330px;
    height: 400px;
    margin: 19px 0 0 -1px;
}

.cmd2 .cmdText .ul {
    margin-left: 15px;
}

.cmd2 .cmdText .ul a {
    text-decoration: none;
    color: rgb(88, 89, 92);
}

.cmd2 .cmdText .ul a:hover {
    color: rgb(0, 132, 255);
}

#footer {
    width: 100%;
    color: white;
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    font-size: 14px;
    /* background-color: blue; */
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    color: rgb(0, 81, 255);
}
